{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
{% endblock %}

{% block body %}
    <h1>Home Page 3</h1>
    <br>
    <main role="main" class="container">
      <div class="jumbotron">
        <h1>Welcome</h1>
        <p class="lead">Welcome to the Clever Programmer Blog! Here we'll be talking about everything computer science. Basics, frameworks, machine learning, other data science stuff, and new tech or findings, a </p>
        <p>Go visit us at our website</p><a class="btn btn-lg btn-primary" href="/posts" role="button">Go to Posts</a>
      </div>
    </main>
{% endblock %}